body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.instruction {
    font-size: 1.3rem;
    margin-bottom: 0px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}
.cards-container .card {
    width: fit-content;
}
.cards-container .card img {
    display: block;
    width: calc(100vw / 3.5);
    max-width: 170px;
}

.scores {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.scores p {
    margin: 0px;
}

@media only screen and (min-width: 600px) {
    #root {
        margin-left: 40px;
        margin-right: 40px;
    }

    .instruction {
        font-size: 1.8rem;
    }
}
